<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CFDiSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CFDiSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.sifac.mx/webservice/cfdi" binding="basicHttpBinding"
                bindingConfiguration="CFDiSoapBinding" contract="wsSIFAC.CFDi"
                name="CFDi" />
        </client>
    </system.serviceModel>
</configuration>
